﻿@page
@using TaskManager.Models
@model EditTaskModel
@{
}

<form method="post">
    <input type="hidden" name="task_id" value="@Model.EditTask.task_id" asp-for="EditTask.task_id" />
    <div class="row mb-1">
        <input type="text" class="form-control col-6" name="description" value="@Model.EditTask.description" asp-for="EditTask.description" />
    </div>

    <div class="row mb-1">
        <textarea class="form-control col-6" name="long_description" value="@Model.EditTask.long_description" asp-for="EditTask.long_description" rows="3"></textarea>
    </div>

    <div class="row mb-1">
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control col-3" name="date_due" value="@Model.EditTask.date_due.ToShortDateString()" asp-for="EditTask.date_due" />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <select class="form-control col-3" name="state" asp-for="EditTask.state" asp-items="Html.GetEnumSelectList<TaskState>()"></select>
    </div>

    <div class="row mb-1">
        <select class="form-control col-3" name="priority" asp-for="EditTask.priority">
            <option value="none">-- Select Priority --</option>
            <option value="high">High</option>
            <option value="med">Medium</option>
            <option value="low">Low</option>
        </select>
    </div>

    <div class="row mb-4">
        <button type="submit" class="btn btn-outline-secondary" asp-page-handler="Edit">Edit Task</button>
    </div>
</form>