﻿@page
@using Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    string GetStateColor(TaskItem task)
    {
        var stateColor = "";
        switch (task.state)
        {
            case TaskState.Todo:
                stateColor = "color:red";
                break;
            case TaskState.Done:
                stateColor = "color:green";
                break;
            case TaskState.Cancelled:
                stateColor = "color:red; text-decoration:line-through";
                break;
            default:
                stateColor = "color:black";
                break;
        }

        return stateColor;
    }

}

<div class="row mb-4">
    <h2>Task Manager</h2>
</div>

<form method="post">
    <div class="row mb-1">
        <input type="text" class="form-control col-6" placeholder="New Task" asp-for="Task.description" />
    </div>

    <div class="row mb-1">
        <textarea class="form-control col-6" asp-for="Task.long_description" rows="3" placeholder="Description of task"></textarea>
    </div>

    <div class="row mb-1">
        <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control col-3" placeholder="Due Date" asp-for="Task.date_due" />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <select class="form-control col-3" asp-for="Task.state" asp-items="Html.GetEnumSelectList<TaskState>()"></select>
    </div>

    <div class="row mb-1">
        <select class="form-control col-3" asp-for="Task.priority">
            <option value="none">-- Select Priority --</option>
            <option value="high">High</option>
            <option value="med">Medium</option>
            <option value="low">Low</option>
        </select>
    </div>

    <div class="row mb-4">
        <button type="submit" class="btn btn-outline-secondary" asp-page-handler="Add">Add Task</button>
    </div>
</form>

<div class="row mb-2">
    <h4>Current Tasks</h4>
</div>

<div class="row">
    <ul class="list-unstyled">
        @if (Model.Tasks != null)
        {
            @foreach (var task in Model.Tasks)
            {
            <li class="list-group-item">
                <span style="@GetStateColor(task); font-weight:bold" class="mr-2">@task.state</span>
                <span class="mr-2">@task.description</span>
                <span class="mr-2">@task.date_due.ToShortDateString()</span>
                <span>@task.priority.ToUpper()</span>
                <form method="post" asp-page="Index" asp-page-handler="Edit" style="display: inline">
                    <input type="hidden" name="task_id" value="@task.task_id" />
                    <button type="submit" class="btn btn-link"><span class="fa fa-edit"></span></button>
                </form>
                <form method="post" asp-page="Index" asp-page-handler="Remove" style="display: inline">
                    <input type="hidden" name="task_id" value="@task.task_id" />
                    <button type="submit" class="btn btn-link"><span class="fa fa-trash"></span></button>
                </form>
                <br/>
                <ul class="list-unstyled">
                    <li class="list-group-item">
                        @task.long_description
                    </li>
                </ul>
            </li>
            }
        }
    </ul>
</div>